<!DOCTYPE html>
<html>
<head>
	<title>Pokes</title>
</head>
<body>
	 <h2>Welcome, {{ cur_User.name }}!</h2>
	 <a href="{% url 'logout' %}">Log out</a>

	<p>{{poked_by.count}} people poked you</p>

    {% for user in poked_by%}

        <p>{{user.name}}</p>

    {%endfor%}

<!-- =================  Table  ========================================== -->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Alias</th>
                <th>Email</th>
                <th>Pokes</th>
                <th>Poke </th>
            </tr>
        </thead>
        <tbody>
            {% for users in otherUsers%}
                 
            <tr>
            
                <td>{{users.name}}</td>
                <td>{{users.alias}}</td>
                <td>{{users.email}}</td>
                <td>{{poked_by.count}}</td>
                <td>
                    <form action="/pokes/poke/{{id}}" method="POST">
                        {% csrf_token %}
                     <input type="hidden" name="id" value="{{id}}">
                    <button type="submit">Poke</button>
            </form>
                </td>
                    
            </tr>
                
            {%endfor%}
        </tbody>
</table>

</body>
</html>




<!--
    cur_id = request.session['user_id'] 

    cur_User = User.objects.get(id=cur_id)  #current user

    poked_by = cur_User.pokes_gotten.all().values("poker__name").annotate(Count('id')).order_by('-id__count')

    otherUsers = User.objects.exclude(id=cur_id)

    context = {
        'cur_User': cur_User,
        'otherUsers': otherUsers,
        'poked_by': poked_by
    } 
-->