<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Pokes</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="wrapper">
        <p class="topp">
            <a href="{% url 'logout' %}">Log out</a>
        </p>

        <h2>Welcome, {{ cur_user.name }}!</h2>

        <div class="topdiv">

        <p>{{ count }} people have poked you</p>

            {% for user in poked_by%}

            <p>* {{user.poker__name}} poked you {{user.id__count}} times</p>

            {%endfor%}
        </div>

        <br>
        <br>
        <!-- =================  Table  ========================== -->
        <table class="table table-striped" width="600" cellspacing="20" cellpadding="0">
            <thead>
                <tr>
                    <th align="center">Name</th>
                    <th align="center">Alias</th>
                    <th align="center">Email</th>
                    <th align="center">Pokes</th>
                    <th align="center">Poke </th>
                </tr>
            </thead>
            <tbody>
                {% for user in other_users%}
                <tr>
                    <td>{{user.name}}</td>
                    <td>{{user.alias}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.pokes_gotten.count}}</td>
                    <td>
                        <form action="/pokes/poke/{{user.id}}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{id}}">
                            <button type="submit">Poke</button>
                        </form>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <!-- =================  End Table  ========================== -->
    </div>
</body>
</html>

